#comparison {
    font-family: "Calibri";
    border-collapse: collapse;
    table-layout: fixed;
    font-size: small;
}

#comparison td, #comparison th {
    border: 1px solid #ddd;
    padding: 8px;
    width: auto;

}

#comparison textarea {
    display: block;
    background-color: inherit;
    border: none;
    overflow: hidden;
    outline: none;
    box-sizing: content-box;
    height: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;

}

#comparison td {
    text-align: right;

}

#comparison i.glyphicon {
    position: inherit;
}

#comparison i.glyphicon-remove {
    font-size: larger;
    color: red;
}

#comparison i.glyphicon-ok {
    font-size: larger;
    color: green;

}

#comparison td#comment {
    text-align: left;
}

#comparison .center {
    text-align: center;
}

#comparison input {
    border: none;
    font-family: "Calibri";
    font-size: small;
    text-align: center;
    background-color: inherit;

}

#comparison tr:nth-child(even) {
    background-color: #2196F3;

}

#comparison tr:hover {
    background-color: #dddddd;
    border-color: #555555;
}

#comparison th.sticky {
    top: 0;
    position: sticky;
    border: 1px solid white;
}

#comparison th.sticky2 {
    top: 44px;
    position: sticky;
    border: 1px solid white;
}

#comparison th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    font-size: larger;
}
.hide_or_show {
    display:none;
}


