#comparison {
    font-family: "Calibri";
    border-collapse: collapse;
    table-layout: auto;
    font-size: smaller;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
}

#comparison td, #comparison th {
    border: 1px solid #ddd;
    padding: 8px;
    width: auto;

}

#comparison textarea {
    display: block;
    background-color: inherit;
    border: none;
    overflow: hidden;
    outline: none;
    box-sizing: content-box;
    height: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;

}

#comparison td {
    text-align: right;

}

#comparison i.glyphicon {
    position: inherit;
}

#comparison i.glyphicon-remove {
    font-size: larger;
    color: red;
}

#comparison i.glyphicon-ok {
    font-size: larger;
    color: green;

}

#comparison td.comment {
    text-align: left;
}

#comparison td.description {
    text-align: left;
    /*white-space: nowrap;*/
}

#comparison .center {
    text-align: center;
}

#comparison input {
    border: none;
    font-family: "Calibri";
    font-size: small;
    text-align: center;
    background-color: inherit;

}

#comparison tr:nth-child(even) {
    background-color: #2196F3;

}

#comparison tr:hover {
    background-color: #dddddd;
    border-color: #555555;
}

#comparison th.sticky {
    top: 0px;
    position: sticky;
    border: 1px solid white;
    border-radius:15px;
    background-color: darkorange;
    color: black;
    cursor: pointer;
 }
#comparison th.sticky0 {
    top: 0px;
    position: sticky;
    border: 1px solid white;
    border-radius:15px;
    background-color: #2196F3;
    cursor: pointer;
}
#comparison th.sticky1, th.sticky3 {
    top: 50px;
    position: sticky;
    border: 1px solid white;
}

#comparison th.sticky2 {
    top: 94px;
    position: sticky;
    border: 1px solid white;
}

#comparison th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    font-size: larger;
}
.hide_or_show {
    display:none;
}


#comparison th.sticky:hover, #comparison th.sticky0:hover {
    background-color: green;
}




